<div class="skills-section">
  <h2>Compétences</h2>

  <div class="skills-grid">
    <div class="skill-box">
      <h4>Développement Web</h4>
      <p>HTML / CSS | Angular | .NET / .NET Core | Spring | JavaScript</p>
    </div>

    <div class="skill-box">
      <h4>Web Services</h4>
      <p>API Rest / SOAP | WCF</p>
    </div>

    <div class="skill-box">
      <h4>Base de Données</h4>
      <p>SQL Server | PL/SQL | MySQL</p>
    </div>

    <div class="skill-box">
      <h4>Gestion de projet</h4>
      <p>Azure | Jira</p>
    </div>

    <div class="skill-box">
      <h4>Méthodologie</h4>
      <p>SCRUM | Six Sigma</p>
    </div>

    <div class="skill-box">
      <h4>Outils & Techs</h4>
      <p>HangFire | SonarQube | Logstash | Kubernetes | SFTP / WinSCP</p>
    </div>
  </div>
</div>
