<nav class="navbar" [class.scrolled]="scrolled">
  <ul>
    <li><a href="#hero">Home</a></li>
    <li><a href="#profile">Profile</a></li>
    <li><a href="#skills">Skills</a></li>
    <li><a href="#certifications">Certifications</a></li>
    <li><a href="#projects">Projects</a></li>
    <li><a href="#experience">Experience</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="assets/Ghazi_BenHalima_Cv_2025.pdf" target="_blank" class="download-btn">📄 CV</a></li>
  </ul>
</nav>
<main>
  <section id="hero" class="fade-in"><app-hero></app-hero></section>
  <section id="profile" class="fade-in"><app-profile></app-profile></section>
  <section id="skills" class="fade-in"><app-skills></app-skills></section>
  <section id="certifications" class="fade-in"><app-certifications></app-certifications></section>
  <section id="projects" class="fade-in"><app-projects></app-projects></section>
  <section id="experience" class="fade-in"><app-experience></app-experience></section>
  <section id="contact" class="fade-in"><app-contact></app-contact></section>
</main>