<div class="about-section">
  <h2>À propos de moi</h2>
  <div class="about-content">
    <p>
      Ingénieur informatique diplômé de l’École d’Ingénieurs ENET’COM (Tunisie), avec 3 ans d’expérience en développement Full Stack .NET / Angular.
    </p>
    <p>
      Spécialisé en Clean Architecture, microservices, tests unitaires et solutions monétiques.
    </p>
    <p>
      Maîtrise des bonnes pratiques DevOps, sécurité applicative et gestion de projets Agile/Scrum.
    </p>
    <p>
      Solide expérience en relation client et en conception de solutions robustes et évolutives.
    </p>
  </div>
</div>
